<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        const sessionStorageKey = "download-file";

        function getApiUrl(path) {
            return '@(Url.Content("~/api/").ToLower())' + path;
        }
    </script>
    <meta charset="UTF-8" />
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- refer css file -->
    <link href="/css/style.css" rel="stylesheet" />
    <title>Chat Home</title>
    <script src="https://unpkg.com/@@lottiefiles/lottie-player@@latest/dist/lottie-player.js"></script>
    <script src="
https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>

    <title>Home</title>
</head>

<body onload="">
    <div id="mySidenav" class="sidenav sidebar">
        <div class="logIcon">
            <div>
                <img src="/icons/Home.png" alt="Home" onclick="goToHomePage()" />
            </div>
            <div>
                <img src="https://www.protossoft.com/wp-content/uploads/2024/05/Protos-logo@2x.png" alt="Avatar" width="166px" height="42px" />
            </div>
            <div class="clr"></div>
        </div>
        <hr class="hr-warning" />

        <div class="list-container">
            <ul id="questionsList"></ul>
        </div>


        <div class="outer-div ">
            <div class="sidenav-bottom-icon">
                <p><img src="/icons/Helpmuted.svg" alt="Helpmuted" /> Help</p>
                <p><img src="/icons/Setings.svg" alt="Setings" /> Settings </p>
            </div>
            <div class="btmsidebar">
                <div class="knowledge-logo">
                    <h3>Powered by</h3>
                    <div class="botmlogo"><img src="/icons/Logo Knowledge navigator.png" alt="Logo Knowledge navigator"></div>

                </div>
            </div>
        </div>
    </div>
    <div id="main">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-12 col-sm-12 full-height main-content"
                     id="main-content">
                    <div class="topheader">


                        <div id="loggedin">
                            <strong id="login_initials">JD</strong>
                            <div class="menubar">
                                <ul>
                                    <li id="logoutbtn" onclick="onLogoutClick()">Logout</li>
                                </ul>
                            </div>
                        </div>
                        <div class="clr"></div>
                    </div>
                    <h2>Upload to download Excel File</h2>

                    <form asp-controller="DownloadFile" asp-action="UploadFileAndDownloadExcel" method="post" enctype="multipart/form-data">
                        <div class="form-group">
                            <label for="file">Select a file:</label>
                            <input type="file" name="file" id="file" class="form-control" />
                        </div>
                        <button type="submit" class="btn btn-primary">Upload</button>
                    </form>

                    <div class="chatinput">
                        <div class="main-container" id="modal">
                            <div class="modal-content">
                                @*                                 <form class="feedback-form" id="feedback-form">
                                <div class="form-header">
                                <p>Submit Feedback</p>
                                <button id="cancelBtn">X</button>
                                </div>
                                <div class="form-body">
                                <p>Your feedback will improve this experience.</p>
                                <p>Why wasn't this response helpful?</p>
                                <div class="checkbox-list">
                                <input type="checkbox" id="citations-missing" name="citations-missing"
                                value="Citations are missing">
                                <label for="citations-missing"> Citations are missing</label><br>

                                <input type="checkbox" id="citations-wrong" name="citations-wrong" value="Citations are wrong">
                                <label for="citations-wrong"> Citations are wrong</label><br>

                                <input type="checkbox" id="response-not-from-data" name="response-not-from-data"
                                value="The response is not from my data">
                                <label for="response-not-from-data"> The response is not from my data</label><br>

                                <input type="checkbox" id="inaccurate-irrelevant" name="inaccurate-irrelevant"
                                value="Inaccurate or irrelevant">
                                <label for="inaccurate-irrelevant"> Inaccurate or irrelevant</label><br>

                                <input type="checkbox" id="other" name="other" value="Other">
                                <label for="other"> Other</label>
                                </div>
                                <p><a href="#" style="text-decoration:none;">Report inappropriate content</a></p>
                                <p>By pressing submit, your feedback will be visible to the application owner.</p>
                                <input type="submit" value="Submit">
                                </div>
                                </form>
                                *@
                            </div>
                        </div>
                    </div>
                    </>
                </div>
            </div>
        </div>
    </div>


    <div id="rightsidebar" class="sidebar">
    </div>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/chat.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link href="/css/rightsidebar.css" rel="stylesheet" />


</body>
</html>